        .subunit.Kupwara { fill: #CD778F; }
        .subunit.Baramula { fill: #CD778F; }
        .subunit.Srinagar { fill: #CD778F; }
        .subunit.Badgam { fill: #CD778F; }
        .subunit.Pulwama { fill: #CD778F; }
        .subunit.Anantnag { fill: #CD778F; }
        .subunit.Leh_Ladakh { fill: #466BA7; }
        .subunit.Kargil { fill: #333333; }
        .subunit.Doda { fill: #CD778F; }
        .subunit.Udhampur { fill: #FB737A; }
        .subunit.Punch { fill: #B3260C; }
        .subunit.Rajauri { fill: #B3260C; }
        .subunit.Jammu { fill: #FB737A; }
        .subunit.Kathua { fill: #FB737A; }
        .subunit.Chamba { fill: #FB737A; }
        .subunit.Kangra { fill: #A82926; }
        .subunit.Lahul_and_Spiti { fill: #333333; }
        .subunit.Kullu { fill: #CD778F; }
        .subunit.Mandi { fill: #A82926; }
        .subunit.Hamirpur { fill: #FB737A; }
        .subunit.Una { fill: #A82926; }
        .subunit.Bilaspur { fill: #B3260C; }
        .subunit.Solan { fill: #A82926; }
        .subunit.Sirmaur { fill: #A82926; }
        .subunit.Shimla { fill: #F06349; }
        .subunit.Kinnaur { fill: #B3260C; }
        .subunit.Gurdaspur { fill: #B3260C; }
        .subunit.Amritsar { fill: #B3260C; }
        .subunit.Kapurthala { fill: #B3260C; }
        .subunit.Jalandhar { fill: #B3260C; }
        .subunit.Hoshiarpur { fill: #B3260C; }
        .subunit.Nawanshahr { fill: #B3260C; }
        .subunit.Rupnagar { fill: #B3260C; }
        .subunit.Fatehgarh_Sahib { fill: #B3260C; }
        .subunit.Ludhiana { fill: #B3260C; }
        .subunit.Moga { fill: #B3260C; }
        .subunit.Firozpur { fill: #B3260C; }
        .subunit.Muktsar { fill: #B3260C; }
        .subunit.Faridkot { fill: #B3260C; }
        .subunit.Bathinda { fill: #B3260C; }
        .subunit.Mansa { fill: #B3260C; }
        .subunit.Sangrur { fill: #B3260C; }
        .subunit.Patiala { fill: #B3260C; }
        .subunit.Chandigarh { fill: #A82926; }
        .subunit.Uttarkashi { fill: #F06349; }
        .subunit.Chamoli { fill: #F06349; }
        .subunit.Rudraprayag { fill: #F06349; }
        .subunit.Tehri_Garhwal { fill: #F06349; }
        .subunit.Dehradun { fill: #8C1600; }
        .subunit.Garhwal { fill: #F06349; }
        .subunit.Pithoragarh { fill: #F06349; }
        .subunit.Bageshwar { fill: #F06349; }
        .subunit.Almora { fill: #F06349; }
        .subunit.Champawat { fill: #8C1600; }
        .subunit.Nainital { fill: #8C1600; }
        .subunit.Udham_Singh_Nagar { fill: #A82926; }
        .subunit.Hardwar { fill: #8C1600; }
        .subunit.Panchkula { fill: #A82926; }
        .subunit.Ambala { fill: #A82926; }
        .subunit.Yamunanagar { fill: #A82926; }
        .subunit.Kurukshetra { fill: #A82926; }
        .subunit.Kaithal { fill: #A82926; }
        .subunit.Karnal { fill: #A82926; }
        .subunit.Panipat { fill: #A82926; }
        .subunit.Sonipat { fill: #A82926; }
        .subunit.Jind { fill: #A82926; }
        .subunit.Fatehabad { fill: #A82926; }
        .subunit.Sirsa { fill: #B3260C; }
        .subunit.Hisar { fill: #A82926; }
        .subunit.Bhiwani { fill: #A82926; }
        .subunit.Rohtak { fill: #A82926; }
        .subunit.Jhajjar { fill: #A82926; }
        .subunit.Mahendragarh { fill: #A82926; }
        .subunit.Rewari { fill: #A82926; }
        .subunit.Gurgaon { fill: #8C1600; }
        .subunit.Faridabad { fill: #A82926; }
        .subunit.North_West_Delhi { fill: #A82926; }
        .subunit.North_Delhi { fill: #8C1600; }
        .subunit.North_East_Delhi { fill: #8C1600; }
        .subunit.East_Delhi { fill: #A82926; }
        .subunit.New_Delhi { fill: #A82926; }
        .subunit.Central_Delhi { fill: #8C1600; }
        .subunit.West_Delhi { fill: #A82926; }
        .subunit.South_West_Delhi { fill: #A82926; }
        .subunit.South_Delhi { fill: #8C1600; }
        .subunit.Ganganagar { fill: #A82926; }
        .subunit.Hanumangarh { fill: #A82926; }
        .subunit.Bikaner { fill: #A82926; }
        .subunit.Churu { fill: #8C1600; }
        .subunit.Jhunjhunun { fill: #8C1600; }
        .subunit.Alwar { fill: #A82926; }
        .subunit.Bharatpur { fill: #A82926; }
        .subunit.Dhaulpur { fill: #8C1600; }
        .subunit.Karauli { fill: #8C1600; }
        .subunit.Sawai_Madhopur { fill: #8C1600; }
        .subunit.Dausa { fill: #8C1600; }
        .subunit.Jaipur { fill: #8C1600; }
        .subunit.Sikar { fill: #8C1600; }
        .subunit.Nagaur { fill: #8C1600; }
        .subunit.Jodhpur { fill: #8C1600; }
        .subunit.Jaisalmer { fill: #D97E8A; }
        .subunit.Barmer { fill: #D97E8A; }
        .subunit.Jalor { fill: #D97E8A; }
        .subunit.Sirohi { fill: #333333; }
        .subunit.Pali { fill: #8C1600; }
        .subunit.Ajmer { fill: #D97E8A; }
        .subunit.Tonk { fill: #8C1600; }
        .subunit.Bundi { fill: #A82926; }
        .subunit.Bhilwara { fill: #8C1600; }
        .subunit.Rajsamand { fill: #8C1600; }
        .subunit.Udaipur { fill: #FF8A75; }
        .subunit.Dungarpur { fill: #B3260C; }
        .subunit.Banswara { fill: #B3260C; }
        .subunit.Chittaurgarh { fill: #FF8A75; }
        .subunit.Kota { fill: #8C1600; }
        .subunit.Baran { fill: #8C1600; }
        .subunit.Jhalawar { fill: #8C1600; }
        .subunit.Saharanpur { fill: #8C1600; }
        .subunit.Muzaffarnagar { fill: #8C1600; }
        .subunit.Bijnor { fill: #8C1600; }
        .subunit.Moradabad { fill: #8C1600; }
        .subunit.Rampur { fill: #8C1600; }
        .subunit.Jyotiba_Phule_Nagar { fill: #8C1600; }
        .subunit.Meerut { fill: #8C1600; }
        .subunit.Baghpat { fill: #8C1600; }
        .subunit.Ghaziabad { fill: #8C1600; }
        .subunit.Gautam_Buddha_Nagar { fill: #8C1600; }
        .subunit.Bulandshahar { fill: #8C1600; }
        .subunit.Aligarh { fill: #8C1600; }
        .subunit.Hathras { fill: #8C1600; }
        .subunit.Mathura { fill: #8C1600; }
        .subunit.Agra { fill: #8C1600; }
        .subunit.Firozabad { fill: #8C1600; }
        .subunit.Etah { fill: #8C1600; }
        .subunit.Mainpuri { fill: #8C1600; }
        .subunit.Budaun { fill: #8C1600; }
        .subunit.Bareilly { fill: #8C1600; }
        .subunit.Pilibhit { fill: #8C1600; }
        .subunit.Shahjahanpur { fill: #8C1600; }
        .subunit.Kheri { fill: #8C1600; }
        .subunit.Sitapur { fill: #8C1600; }
        .subunit.Hardoi { fill: #8C1600; }
        .subunit.Unnao { fill: #8C1600; }
        .subunit.Lucknow { fill: #8C1600; }
        .subunit.Rae_Bareli { fill: #8C1600; }
        .subunit.Farrukhabad { fill: #8C1600; }
        .subunit.Kannauj { fill: #8C1600; }
        .subunit.Etawah { fill: #8C1600; }
        .subunit.Auraiya { fill: #8C1600; }
        .subunit.Kanpur_Dehat { fill: #8C1600; }
        .subunit.Kanpur_Nagar { fill: #8C1600; }
        .subunit.Jalaun { fill: #8C1600; }
        .subunit.Jhansi { fill: #8C1600; }
        .subunit.Lalitpur { fill: #8C1600; }
        .subunit.Hamirpur { fill: #8C1600; }
        .subunit.Mahoba { fill: #8C1600; }
        .subunit.Banda { fill: #8C1600; }
        .subunit.Chitrakoot { fill: #F06349; }
        .subunit.Fatehpur { fill: #8C1600; }
        .subunit.Pratapgarh { fill: #8C1600; }
        .subunit.Kaushambi { fill: #8C1600; }
        .subunit.Allahabad { fill: #8C1600; }
        .subunit.Barabanki { fill: #8C1600; }
        .subunit.Faizabad { fill: #8C1600; }
        .subunit.Ambedkar_Nagar { fill: #8C1600; }
        .subunit.Sultanpur { fill: #8C1600; }
        .subunit.Bahraich { fill: #8C1600; }
        .subunit.Shrawasti { fill: #8C1600; }
        .subunit.Balrampur { fill: #8C1600; }
        .subunit.Gonda { fill: #8C1600; }
        .subunit.Siddharthnagar { fill: #8C1600; }
        .subunit.Basti { fill: #8C1600; }
        .subunit.Sant_Kabir_Nagar { fill: #8C1600; }
        .subunit.Maharajganj { fill: #8C1600; }
        .subunit.Gorakhpur { fill: #8C1600; }
        .subunit.Kushinagar { fill: #8C1600; }
        .subunit.Deoria { fill: #8C1600; }
        .subunit.Azamgarh { fill: #8C1600; }
        .subunit.Mau { fill: #8C1600; }
        .subunit.Ballia { fill: #8C1600; }
        .subunit.Jaunpur { fill: #8C1600; }
        .subunit.Ghazipur { fill: #8C1600; }
        .subunit.Chandauli { fill: #8C1600; }
        .subunit.Varanasi { fill: #8C1600; }
        .subunit.Sant_Ravidas_Nagar_Bhadohi { fill: #8C1600; }
        .subunit.Mirzapur { fill: #8C1600; }
        .subunit.Sonbhadra { fill: #8C1600; }
        .subunit.Pashchim_Champaran { fill: #8C1600; }
        .subunit.Purba_Champaran { fill: #8C1600; }
        .subunit.Sheohar { fill: #8C1600; }
        .subunit.Sitamarhi { fill: #8C1600; }
        .subunit.Madhubani { fill: #8C1600; }
        .subunit.Supaul { fill: #8C1600; }
        .subunit.Araria { fill: #DC4366; }
        .subunit.Kishanganj { fill: #B3260C; }
        .subunit.Purnia { fill: #8C1600; }
        .subunit.Katihar { fill: #8C1600; }
        .subunit.Madhepura { fill: #B3260C; }
        .subunit.Saharsa { fill: #B3260C; }
        .subunit.Darbhanga { fill: #8C1600; }
        .subunit.Muzaffarpur { fill: #8C1600; }
        .subunit.Gopalganj { fill: #8C1600; }
        .subunit.Siwan { fill: #8C1600; }
        .subunit.Saran { fill: #8C1600; }
        .subunit.Vaishali { fill: #8C1600; }
        .subunit.Samastipur { fill: #DC4366; }
        .subunit.Begusarai { fill: #DC4366; }
        .subunit.Khagaria { fill: #8C1600; }
        .subunit.Bhagalpur { fill: #8C1600; }
        .subunit.Banka { fill: #8C1600; }
        .subunit.Munger { fill: #8C1600; }
        .subunit.Lakhisarai { fill: #8C1600; }
        .subunit.Sheikhpura { fill: #8C1600; }
        .subunit.Nalanda { fill: #8C1600; }
        .subunit.Patna { fill: #8C1600; }
        .subunit.Bhojpur { fill: #8C1600; }
        .subunit.Buxar { fill: #8C1600; }
        .subunit.Kaimur_Bhabua { fill: #8C1600; }
        .subunit.Rohtas { fill: #8C1600; }
        .subunit.Jehanabad { fill: #8C1600; }
        .subunit.Aurangabad { fill: #8C1600; }
        .subunit.Gaya { fill: #8C1600; }
        .subunit.Nawada { fill: #8C1600; }
        .subunit.Jamui { fill: #8C1600; }
        .subunit.North_Sikkim { fill: #F06349; }
        .subunit.West_Sikkim { fill: #2F0148; }
        .subunit.South_Sikkim { fill: #B3260C; }
        .subunit.East_Sikkim { fill: #B3260C; }
        .subunit.Tawang { fill: #B3260C; }
        .subunit.West_Kameng { fill: #F06349; }
        .subunit.East_Kameng { fill: #F06349; }
        .subunit.Papum_Pare { fill: #E01A23; }
        .subunit.Lower_Subansiri { fill: #1A0239; }
        .subunit.Upper_Subansiri { fill: #05275F; }
        .subunit.West_Siang { fill: #B3260C; }
        .subunit.East_Siang { fill: #F06349; }
        .subunit.Upper_Siang { fill: #B3260C; }
        .subunit.Dibang_Valley { fill: #05275F; }
        .subunit.Lohit { fill: #03034B; }
        .subunit.Changlang { fill: #2C353D; }
        .subunit.Tirap { fill: #7565A5; }
        .subunit.Mon { fill: #B3260C; }
        .subunit.Tuensang { fill: #4D31D8; }
        .subunit.Mokokchung { fill: #B3260C; }
        .subunit.Zunheboto { fill: #081852; }
        .subunit.Wokha { fill: #081852; }
        .subunit.Dimapur { fill: #E01A23; }
        .subunit.Kohima { fill: #7C28D6; }
        .subunit.Phek { fill: #1A123E; }
        .subunit.Senapati { fill: #F06349; }
        .subunit.Tamenglong { fill: #6174D7; }
        .subunit.Churachandpur { fill: #3D005B; }
        .subunit.Bishnupur { fill: #333333; }
        .subunit.Thoubal { fill: #333333; }
        .subunit.Imphal_West { fill: #333333; }
        .subunit.Imphal_East { fill: #E01A23; }
        .subunit.Ukhrul { fill: #58004B; }
        .subunit.Chandel { fill: #7519A7; }
        .subunit.Mamit { fill: #E01A23; }
        .subunit.Kolasib { fill: #579BD2; }
        .subunit.Aizawl { fill: #579BD2; }
        .subunit.Champhai { fill: #3D005B; }
        .subunit.Serchhip { fill: #ED9544; }
        .subunit.Lunglei { fill: #E01A23; }
        .subunit.Lawngtlai { fill: #601DA9; }
        .subunit.Saiha { fill: #333333; }
        .subunit.West_Tripura { fill: #9623D5; }
        .subunit.South_Tripura { fill: #9623D5; }
        .subunit.Dhalai { fill: #9623D5; }
        .subunit.North_Tripura { fill: #9623D5; }
        .subunit.West_Garo_Hills { fill: #E01A23; }
        .subunit.East_Garo_Hills { fill: #243148; }
        .subunit.South_Garo_Hills { fill: #E01A23; }
        .subunit.West_Khasi_Hills { fill: #262C4A; }
        .subunit.Ri-Bhoi { fill: #A02435; }
        .subunit.East_Khasi_Hills { fill: #E01A23; }
        .subunit.Jaintia_Hills { fill: #333333; }
        .subunit.Kokrajhar { fill: #E01A23; }
        .subunit.Dhubri { fill: #E01A23; }
        .subunit.Goalpara { fill: #E01A23; }
        .subunit.Bongaigaon { fill: #E01A23; }
        .subunit.Barpeta { fill: #E01A23; }
        .subunit.Kamrup { fill: #E01A23; }
        .subunit.Nalbari { fill: #24104D; }
        .subunit.Darrang { fill: #E01A23; }
        .subunit.Marigaon { fill: #E01A23; }
        .subunit.Nagaon { fill: #E01A23; }
        .subunit.Sonitpur { fill: #E01A23; }
        .subunit.Lakhimpur { fill: #1A0239; }
        .subunit.Dhemaji { fill: #1A0239; }
        .subunit.Tinsukia { fill: #B3260C; }
        .subunit.Dibrugarh { fill: #B3260C; }
        .subunit.Sibsagar { fill: #333333; }
        .subunit.Jorhat { fill: #1A0239; }
        .subunit.Golaghat { fill: #E01A23; }
        .subunit.Karbi_Anglong { fill: #E01A23; }
        .subunit.North_Cachar_Hills { fill: #E01A23; }
        .subunit.Cachar { fill: #B3260C; }
        .subunit.Karimganj { fill: #B3260C; }
        .subunit.Hailakandi { fill: #B3260C; }
        .subunit.Darjiling { fill: #E01A23; }
        .subunit.Jalpaiguri { fill: #B3260C; }
        .subunit.Koch_Bihar { fill: #B3260C; }
        .subunit.Uttar_Dinajpur { fill: #B3260C; }
        .subunit.Dakshin_Dinajpur { fill: #ED9544; }
        .subunit.Maldah { fill: #B3260C; }
        .subunit.Murshidabad { fill: #ED9544; }
        .subunit.Birbhum { fill: #ED9544; }
        .subunit.Barddhaman { fill: #B3260C; }
        .subunit.Nadia { fill: #B3260C; }
        .subunit.North_Twenty_Four_Parganas { fill: #B3260C; }
        .subunit.Hugli { fill: #B3260C; }
        .subunit.Bankura { fill: #ED9544; }
        .subunit.Puruliya { fill: #ED9544; }
        .subunit.Medinipur { fill: #ED9544; }
        .subunit.Haora { fill: #B3260C; }
        .subunit.Kolkata { fill: #B3260C; }
        .subunit.South_Twenty_Four_Parganas { fill: #B3260C; }
        .subunit.Garhwa { fill: #8C1600; }
        .subunit.Palamu { fill: #8C1600; }
        .subunit.Chatra { fill: #8C1600; }
        .subunit.Hazaribagh { fill: #8C1600; }
        .subunit.Kodarma { fill: #8C1600; }
        .subunit.Giridih { fill: #8C1600; }
        .subunit.Deoghar { fill: #ED9544; }
        .subunit.Godda { fill: #ED9544; }
        .subunit.Sahibganj { fill: #ED9544; }
        .subunit.Pakaur { fill: #E01A23; }
        .subunit.Dumka { fill: #B3260C; }
        .subunit.Dhanbad { fill: #E01A23; }
        .subunit.Bokaro { fill: #ED9544; }
        .subunit.Ranchi { fill: #FF810D; }
        .subunit.Lohardaga { fill: #B3260C; }
        .subunit.Gumla { fill: #073E26; }
        .subunit.Pashchimi_Singhbhum { fill: #E01A23; }
        .subunit.Purbi_Singhbhum { fill: #B3260C; }
        .subunit.Bargarh { fill: #B3260C; }
        .subunit.Jharsuguda { fill: #B3260C; }
        .subunit.Sambalpur { fill: #B3260C; }
        .subunit.Debagarh { fill: #B3260C; }
        .subunit.Sundargarh { fill: #B3260C; }
        .subunit.Kendujhar { fill: #B38E15; }
        .subunit.Mayurbhanj { fill: #ED9544; }
        .subunit.Baleshwar { fill: #8C1600; }
        .subunit.Bhadrak { fill: #8C1600; }
        .subunit.Kendrapara { fill: #E01A23; }
        .subunit.Jagatsinghapur { fill: #8C1600; }
        .subunit.Cuttack { fill: #8C1600; }
        .subunit.Jajapur { fill: #8C1600; }
        .subunit.Dhenkanal { fill: #B36D15; }
        .subunit.Anugul { fill: #B38E15; }
        .subunit.Nayagarh { fill: #255540; }
        .subunit.Khordha { fill: #8C1600; }
        .subunit.Puri { fill: #8C1600; }
        .subunit.Ganjam { fill: #B8DA99; }
        .subunit.Gajapati { fill: #EDA244; }
        .subunit.Kandhamal { fill: #255540; }
        .subunit.Baudh { fill: #EDA244; }
        .subunit.Sonapur { fill: #B8DA99; }
        .subunit.Balangir { fill: #B3260C; }
        .subunit.Nuapada { fill: #B3260C; }
        .subunit.Kalahandi { fill: #255540; }
        .subunit.Rayagada { fill: #255540; }
        .subunit.Nabarangapur { fill: #2A8E63; }
        .subunit.Koraput { fill: #255540; }
        .subunit.Malkangiri { fill: #477C65; }
        .subunit.Koriya { fill: #EB4750; }
        .subunit.Surguja { fill: #073E26; }
        .subunit.Jashpur { fill: #073E26; }
        .subunit.Raigarh { fill: #EB4750; }
        .subunit.Korba { fill: #073E26; }
        .subunit.Janjgir_-_Champa { fill: #B8DA99; }
        .subunit.Bilaspur { fill: #D97E8A; }
        .subunit.Kawardha { fill: #2A8E63; }
        .subunit.Rajnandgaon { fill: #2A8E63; }
        .subunit.Durg { fill: #B8DA99; }
        .subunit.Raipur { fill: #EB4750; }
        .subunit.Mahasamund { fill: #EB4750; }
        .subunit.Dhamtari { fill: #D97E8A; }
        .subunit.Kanker { fill: #2A8E63; }
        .subunit.Bastar { fill: #2A8E63; }
        .subunit.Dantewada { fill: #BB504E; }
        .subunit.Sheopur { fill: #8C1600; }
        .subunit.Morena { fill: #8C1600; }
        .subunit.Bhind { fill: #8C1600; }
        .subunit.Gwalior { fill: #A82926; }
        .subunit.Datia { fill: #D97E8A; }
        .subunit.Shivpuri { fill: #8C1600; }
        .subunit.Guna { fill: #A82926; }
        .subunit.Tikamgarh { fill: #8C1600; }
        .subunit.Chhatarpur { fill: #8C1600; }
        .subunit.Panna { fill: #E01A23; }
        .subunit.Sagar { fill: #8C1600; }
        .subunit.Damoh { fill: #8C1600; }
        .subunit.Satna { fill: #D97E8A; }
        .subunit.Rewa { fill: #D97E8A; }
        .subunit.Umaria { fill: #2A8E63; }
        .subunit.Shahdol { fill: #2A8E63; }
        .subunit.Sidhi { fill: #2A8E63; }
        .subunit.Neemuch { fill: #8C1600; }
        .subunit.Mandsaur { fill: #8C1600; }
        .subunit.Ratlam { fill: #FF8A75; }
        .subunit.Ujjain { fill: #8C1600; }
        .subunit.Shajapur { fill: #8C1600; }
        .subunit.Dewas { fill: #8C1600; }
        .subunit.Jhabua { fill: #B3260C; }
        .subunit.Dhar { fill: #FF8A75; }
        .subunit.Indore { fill: #A02435; }
        .subunit.West_Nimar { fill: #FF8A75; }
        .subunit.Barwani { fill: #B3260C; }
        .subunit.East_Nimar { fill: #A02435; }
        .subunit.Rajgarh { fill: #8C1600; }
        .subunit.Vidisha { fill: #8C1600; }
        .subunit.Bhopal { fill: #8C1600; }
        .subunit.Sehore { fill: #8C1600; }
        .subunit.Raisen { fill: #8C1600; }
        .subunit.Betul { fill: #2A8E63; }
        .subunit.Harda { fill: #EDC644; }
        .subunit.Hoshangabad { fill: #2A8E63; }
        .subunit.Katni { fill: #D97E8A; }
        .subunit.Jabalpur { fill: #8C1600; }
        .subunit.Narsimhapur { fill: #D97E8A; }
        .subunit.Dindori { fill: #2A8E63; }
        .subunit.Mandla { fill: #2A8E63; }
        .subunit.Chhindwara { fill: #A02435; }
        .subunit.Seoni { fill: #2A8E63; }
        .subunit.Balaghat { fill: #A02435; }
        .subunit.Kachchh { fill: #D97E8A; }
        .subunit.Banas_Kantha { fill: #B3260C; }
        .subunit.Patan { fill: #B3260C; }
        .subunit.Mahesana { fill: #B3260C; }
        .subunit.Sabar_Kantha { fill: #FF8A75; }
        .subunit.Gandhinagar { fill: #B3260C; }
        .subunit.Ahmadabad { fill: #B3260C; }
        .subunit.Surendranagar { fill: #B3260C; }
        .subunit.Rajkot { fill: #B3260C; }
        .subunit.Jamnagar { fill: #D97E8A; }
        .subunit.Porbandar { fill: #B3260C; }
        .subunit.Junagadh { fill: #B3260C; }
        .subunit.Amreli { fill: #B3260C; }
        .subunit.Bhavnagar { fill: #B3260C; }
        .subunit.Anand { fill: #B3260C; }
        .subunit.Kheda { fill: #B3260C; }
        .subunit.Panch_Mahals { fill: #B3260C; }
        .subunit.Dohad { fill: #FF8A75; }
        .subunit.Vadodara { fill: #FF8A75; }
        .subunit.Narmada { fill: #EA95AD; }
        .subunit.Bharuch { fill: #B3260C; }
        .subunit.Surat { fill: #FF8A75; }
        .subunit.The_Dangs { fill: #972244; }
        .subunit.Navsari { fill: #FF8A75; }
        .subunit.Valsad { fill: #FF8A75; }
        .subunit.Diu { fill: #B3260C; }
        .subunit.Daman { fill: #B3260C; }
        .subunit.Dadra_and_Nagar_Haveli { fill: #EA95AD; }
        .subunit.Nandurbar { fill: #FFA5A3; }
        .subunit.Dhule { fill: #A02435; }
        .subunit.Jalgaon { fill: #FFA5A3; }
        .subunit.Buldana { fill: #8C1600; }
        .subunit.Akola { fill: #8C1600; }
        .subunit.Washim { fill: #B3260C; }
        .subunit.Amravati { fill: #8C1600; }
        .subunit.Wardha { fill: #B3260C; }
        .subunit.Nagpur { fill: #B3260C; }
        .subunit.Bhandara { fill: #B3260C; }
        .subunit.Gondiya { fill: #B3260C; }
        .subunit.Gadchiroli { fill: #2A8E63; }
        .subunit.Chandrapur { fill: #B3260C; }
        .subunit.Yavatmal { fill: #B3260C; }
        .subunit.Nanded { fill: #B3260C; }
        .subunit.Hingoli { fill: #B3260C; }
        .subunit.Parbhani { fill: #8C1600; }
        .subunit.Jalna { fill: #B3260C; }
        .subunit.Aurangabad { fill: #8C1600; }
        .subunit.Nashik { fill: #8C1600; }
        .subunit.Thane { fill: #B3260C; }
        .subunit.Mumbai_Suburban { fill: #B3260C; }
        .subunit.Mumbai { fill: #B3260C; }
        .subunit.Raigarh { fill: #8C1600; }
        .subunit.Pune { fill: #B3260C; }
        .subunit.Ahmadnagar { fill: #B3260C; }
        .subunit.Bid { fill: #8C1600; }
        .subunit.Latur { fill: #B3260C; }
        .subunit.Osmanabad { fill: #B3260C; }
        .subunit.Solapur { fill: #084415; }
        .subunit.Satara { fill: #B3260C; }
        .subunit.Ratnagiri { fill: #8C1600; }
        .subunit.Sindhudurg { fill: #972244; }
        .subunit.Kolhapur { fill: #B3260C; }
        .subunit.Sangli { fill: #084415; }
        .subunit.Adilabad { fill: #A02435; }
        .subunit.Nizamabad { fill: #8C1600; }
        .subunit.Karimnagar { fill: #8C1600; }
        .subunit.Medak { fill: #8C1600; }
        .subunit.Hyderabad { fill: #8C1600; }
        .subunit.Rangareddi { fill: #8C1600; }
        .subunit.Mahbubnagar { fill: #8C1600; }
        .subunit.Nalgonda { fill: #B3260C; }
        .subunit.Warangal { fill: #B3260C; }
        .subunit.Khammam { fill: #B3260C; }
        .subunit.Srikakulam { fill: #EB4750; }
        .subunit.Vizianagaram { fill: #2F9C47; }
        .subunit.Visakhapatnam { fill: #EB4750; }
        .subunit.East_Godavari { fill: #8C1600; }
        .subunit.West_Godavari { fill: #8C1600; }
        .subunit.Krishna { fill: #8C1600; }
        .subunit.Guntur { fill: #8C1600; }
        .subunit.Prakasam { fill: #8C1600; }
        .subunit.Nellore { fill: #8C1600; }
        .subunit.Cuddapah { fill: #8C1600; }
        .subunit.Kurnool { fill: #8C1600; }
        .subunit.Anantapur { fill: #8C1600; }
        .subunit.Chittoor { fill: #81B78D; }
        .subunit.Belgaum { fill: #A02435; }
        .subunit.Bagalkot { fill: #8C1600; }
        .subunit.Bijapur { fill: #8C1600; }
        .subunit.Gulbarga { fill: #8C1600; }
        .subunit.Bidar { fill: #A02435; }
        .subunit.Raichur { fill: #8C1600; }
        .subunit.Koppal { fill: #8C1600; }
        .subunit.Gadag { fill: #8C1600; }
        .subunit.Dharwad { fill: #8C1600; }
        .subunit.Uttara_Kannada { fill: #972244; }
        .subunit.Haveri { fill: #8C1600; }
        .subunit.Bellary { fill: #B8DA99; }
        .subunit.Chitradurga { fill: #B8DA99; }
        .subunit.Davanagere { fill: #8C1600; }
        .subunit.Shimoga { fill: #8C1600; }
        .subunit.Udupi { fill: #A2CF91; }
        .subunit.Chikmagalur { fill: #8C1600; }
        .subunit.Tumkur { fill: #8C1600; }
        .subunit.Kolar { fill: #B8DA99; }
        .subunit.Bangalore { fill: #81B78D; }
        .subunit.Bangalore_Rural { fill: #8C1600; }
        .subunit.Mandya { fill: #8C1600; }
        .subunit.Hassan { fill: #8C1600; }
        .subunit.Dakshina_Kannada { fill: #333333; }
        .subunit.Kodagu { fill: #75A691; }
        .subunit.Mysore { fill: #8C1600; }
        .subunit.Chamarajanagar { fill: #81B78D; }
        .subunit.North_Goa { fill: #A02435; }
        .subunit.South_Goa { fill: #A02435; }
        .subunit.Lakshadweep { fill: #333333; }
        .subunit.Kasaragod { fill: #A2CF91; }
        .subunit.Kannur { fill: #81B78D; }
        .subunit.Wayanad { fill: #81B78D; }
        .subunit.Kozhikode { fill: #81B78D; }
        .subunit.Malappuram { fill: #81B78D; }
        .subunit.Palakkad { fill: #81B78D; }
        .subunit.Thrissur { fill: #81B78D; }
        .subunit.Ernakulam { fill: #81B78D; }
        .subunit.Idukki { fill: #81B78D; }
        .subunit.Kottayam { fill: #81B78D; }
        .subunit.Alappuzha { fill: #972244; }
        .subunit.Pathanamthitta { fill: #81B78D; }
        .subunit.Kollam { fill: #81B78D; }
        .subunit.Thiruvananthapuram { fill: #81B78D; }
        .subunit.Thiruvallur { fill: #B8DA99; }
        .subunit.Chennai { fill: #B8DA99; }
        .subunit.Kancheepuram { fill: #B8DA99; }
        .subunit.Vellore { fill: #8C1600; }
        .subunit.Dharmapuri { fill: #B8DA99; }
        .subunit.Tiruvannamalai { fill: #B8DA99; }
        .subunit.Viluppuram { fill: #8C1600; }
        .subunit.Salem { fill: #B8DA99; }
        .subunit.Namakkal { fill: #B8DA99; }
        .subunit.Erode { fill: #B8DA99; }
        .subunit.The_Nilgiris { fill: #084415; }
        .subunit.Coimbatore { fill: #B8DA99; }
        .subunit.Dindigul { fill: #B8DA99; }
        .subunit.Karur { fill: #B8DA99; }
        .subunit.Tiruchirappalli { fill: #B8DA99; }
        .subunit.Perambalur { fill: #B8DA99; }
        .subunit.Ariyalur { fill: #B8DA99; }
        .subunit.Cuddalore { fill: #B8DA99; }
        .subunit.Nagapattinam { fill: #B8DA99; }
        .subunit.Thiruvarur { fill: #B8DA99; }
        .subunit.Thanjavur { fill: #EA95AD; }
        .subunit.Pudukkottai { fill: #B8DA99; }
        .subunit.Sivaganga { fill: #B8DA99; }
        .subunit.Madurai { fill: #EA95AD; }
        .subunit.Theni { fill: #B8DA99; }
        .subunit.Virudhunagar { fill: #B8DA99; }
        .subunit.Ramanathapuram { fill: #EA95AD; }
        .subunit.Thoothukkudi { fill: #B8DA99; }
        .subunit.Tirunelveli { fill: #B8DA99; }
        .subunit.Kanniyakumari { fill: #75A691; }
        .subunit.Yanam { fill: #8C1600; }
        .subunit.Pondicherry { fill: #B8DA99; }
        .subunit.Mahe { fill: #B8DA99; }
        .subunit.Karaikal { fill: #B8DA99; }
        .subunit.Andamans { fill: #B3260C; }
        .subunit.Nicobars { fill: #B3260C; }
